<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
        <div class="hero ">
            <main class="d-flex rounded overlay justify-content-center align-items-center flex-column p-5 m-5 w-50">
                <h1 class="text-light">Our Story</h1>
                <p class="fw-semibold text-light">Panibuatan Beach Resort was founded in 1988 with a simple goal in mind: to create a relaxing and enjoyable experience for all of our guests. Since then, we have welcomed visitors from all over the world and have become known for our exceptional service, beautiful scenery, and top-notch amenities.</p>

                <h1 class="text-light">Our Services</h1>
                <p class="fw-semibold text-light">At Panibuatan Beach Resort, we offer a variety of services to help make your stay with us as comfortable and enjoyable as possible. Some of our most popular services include:</p>
                    <ul>
                        <li class="fw-semibold text-light">Spa treatments: We offer a range of spa treatments to help you relax and unwind during your stay, including massages, facials, and more.</li>
                        <li class="fw-semibold text-light">Our on-site restaurants offer a variety of cuisine options to suit all tastes. Whether you're in the mood for a casual beachside meal or a fine dining experience, we have something for everyone.</li>
                        <li class="fw-semibold text-light">There's always something to do at Panibuatan Beach Resort! From water sports to guided tours to cultural experiences, we offer a range of activities to keep you entertained during your stay.</li>
                    </ul>
                <h1 class="text-light">Our Mission and Vision</h1>
                <p class="fw-semibold text-light">Our mission is to provide the best possible experience for our guests by creating a welcoming and relaxing atmosphere and offering exceptional service and amenities.</p>
                <p class="fw-semibold text-light">Our vision is to continue to grow and evolve as a resort while maintaining our commitment to our guests and our community. We strive to be a leader in sustainable tourism and to give back to the local community whenever possible.</p>
                <h1 class="text-light">Our Team</h1>
                <p class="fw-semibold text-light">At Panibuatan Beach Resort, we are proud of our dedicated and experienced team of professionals. From our front desk staff to our chefs to our activity coordinators, everyone on our team is committed to ensuring that our guests have an unforgettable experience.</p>
            </main>
        </div>
    <%- include('./partials/footer.ejs') %>