<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <h1>New Booking</h1>
        <%- include('./partials/form-reservation.ejs') %>
        <a href="/reservation" class="btn btn-dark mt-1">Back</a>
    </div>
    <%- include('./partials/footer.ejs') %>
