<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <h1>Add Room</h1>
        <%- include('./partials/form-room.ejs') %>
        <a href="/room" class="btn btn-dark mt-1">Back</a>
    </div>
    <%- include('./partials/footer.ejs') %>
